
.banner{
    background:url('../src/images/banner.jpg') center center;
    height:60vh;
    position:relative;
}
.banner__info{
    background-color:black;
    color:white;
    width:300px;
    padding-top:25vh;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:40px;

}
.banner__info > button{
    background-color:#ff7779;
    color:white;
    text-transform:inherit;
    font-weight:600;
}
.banner__info > button:hover{
    background-color:white;
    color:#ff7779;

}

.banner__info > h5{
    margin-top:-8px;
}
.banner__search{
    display:flex;
    flex-direction:column;

}

.banner__searchButton{
    background-color:white !important;
    font-weight:900 !important;
    text-transform:inherit !important;
    color:#ff7779 !important;

}