.card{
    margin:10px;
   
    border-radius:10px;
    overflow:hidden;
    box-shadow:0px 6px 18px -9px rgba(0,0,0,0.75);
    transition:transform 0.1s ease-in;
    cursor:pointer;

}
.card:hover{
    transform:scale(1.07);
}

.card >img{
    object-fit:fill;
    min-width:300px;
    width:100%;
    min-height:200px;
}
.card__info{
    margin-top:-9px;
    border-radius:10px;
    padding:20px;
    border:1;

}

.card__info > h4{
    font-size:14px;
    font-weight:300;
    margin:8px 0;
}