.searchResult{
    display:flex;
    position:relative;
    margin:20px;
    padding:20px;
    border-bottom:1px solid lightgray;
    cursor:pointer;


}
.searchResult:hover{
    opacity:0.8;
}


.searchResult > img{
    width:350px;
    height:200px;
    border-radius:10px;
    overflow:hidden;
}

.searchResult__info{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-left:20px;
}

.searchResult__heart{
    position:absolute;
    top:20px;
    right:40px;
}

.searchResult__topInfo{
    width:40vw;
}
.searchResult__topInfo>p{
    margin-top:10px;
    font-size:13px;
    color:gray;
}
.searchResult__topInfo > h3{
    font-weight:300;
    margin-top:10px;
}

.searchResult__bottomInfo{
    display:flex;
    justify-content:space-between;
}

.searchResult__star{
    color:red;
}
.searchResult__stars{
    display:flex;

    align-items:center;
}
.searchResult__price > p{
    text-align:right;
}

.searchResult__price{
    position:absolute;
    bottom:20px;
    right:30px;
}